Repository VATSIM-UK/UK-Sector-File, pull requests merged in 2022-09, with the labels that each got.

#4359 Fixes #4352 - Update Oxford (EGTK) SMR
  .github/CHANGELOG.md
  Airports/EGTK/SMR/Geo.txt
  Airports/EGTK/SMR/Labels.txt
  Airports/EGTK/SMR/Regions.txt
  _data/SMR Files/EGTK/Oxford SMR (2208).kmz
Labels: airac, controller-pack-change

#4383 Fixes #4365 - Renamed Barrow (EGNL) to Walney
  .github/CHANGELOG.md
  Airports/EGNL/Basic.txt
  Airports/EGNL/SMR/Geo.txt
  Airports/EGNL/SMR/Regions.txt
  _data/SMR Files/EGNL/Walney - EGNL SMR.kmz
Labels: airac, controller-pack-change

#4399 Fixes #4398 - Add New Taxiway G to Newquay (EGHQ) SMR
  .github/CHANGELOG.md
  Airports/EGHQ/SMR/Geo.txt
  Airports/EGHQ/SMR/Regions.txt
  _data/SMR Files/EGHQ/EGHQ 2209.kmz
Labels: enhancement, airac

#4388 Fixes #4386 - Change to TC sectorisation in vicinity of CPT
  .github/CHANGELOG.md
  Sectors/Lines - LACC.txt
  Sectors/Lines - LTC.txt
  Sectors/Static/LON/Daventry.txt
  Sectors/Static/LON/Worthing.txt
  Sectors/Static/LTC/Midlands.txt
  Sectors/Static/LTC/North West.txt
  Sectors/Static/LTC/South West.txt
Labels: procedure-change

#4402 Fixes #4387 - London City (EGLC) SID Truncation
  .github/CHANGELOG.md
  Airports/EGLC/Sids.txt
Labels: airac

#4403 Fixes #4389 - Biggin Hill (EGKB) CPT 2 SDR amended (SAXBI)
  .github/CHANGELOG.md
  Airports/EGKB/Sids.txt
Labels: airac

#4405 Fixes #4392 - Rochester (EGTO) Standard Departure Routes
  .github/CHANGELOG.md
  Airports/EGTO/Sids.txt
Labels: enhancement

#4406 Fixes #4394 - EGCN outbound agreement (MPC E -> S10) updated
  .github/CHANGELOG.md
  Agreements/Internal/East_10.txt
Labels: procedure-change

#4409 Fixes #4397 - Update Hawarden (EGNR) SMR
  .github/CHANGELOG.md
  Airports/EGNR/SMR/Geo.txt
  Airports/EGNR/SMR/Labels.txt
  Airports/EGNR/SMR/Regions.txt
  _data/SMR Files/EGNR/Hawarden EGNR.kmz
Labels: bug, enhancement

#4404 Fixes #4373 - Update Retford/Gamston (EGNE) SMR
  .github/CHANGELOG.md
  Airports/EGNE/SMR/Geo.txt
  Airports/EGNE/SMR/Labels.txt
  _data/SMR Files/EGNE/EGNE Gamston.kmz
Labels: airac

#4400 Fixes #4391 - Amend Agreements in CPT Area
  .github/CHANGELOG.md
  Agreements/Internal/23_TCNW.txt
  Agreements/Internal/TCNW_TCSW.txt
  Agreements/Internal/TCSW_20.txt
  Agreements/Internal/TCSW_23.txt
  Ownership/TC - LTC/London TC SW.txt
Labels: airac

#4401 Fixes #4390 - Amend Southend CTA-10
  .github/CHANGELOG.md
  Airports/EGMC/Airspace.txt
  Airports/EGMC/Airspace_Bases.txt
  Airports/EGMC/RMA.txt
  Airports/EGMC/Sector.txt
Labels: airac, controller-pack-change

#4413 Fixes #4412 - BIRD sector changes
  .github/CHANGELOG.md
  Misc/Positions_Area Positions 4 External.txt
  Ownership/Non-UK/Reykjavik.txt
Labels: procedure-change

#4423 Fixes #4419 - Define EIDW runway 10L/28R and STARs
  .github/CHANGELOG.md
  Airports/EIDW/Fixes.txt
  Airports/EIDW/Runway.txt
  Airports/EIDW/Stars.txt
Labels: procedure-change
