Repository VATSIM-UK/UK-Sector-File, pull requests merged in 2025-06, with the labels that each got.

#5751 Fixes #5750 - Revised LAC Lakes, ScAC Rathlin, MPC West (IOM) and Antrim sectorisation
  .github/CHANGELOG.md
  Sector Boundaries/Lines - LACC.txt
  Sector Boundaries/Lines - MPC.txt
  Sector Boundaries/Lines - PACC.txt
  Sector Boundaries/Lines - PWK SWK Boundary.txt
  Sector Boundaries/Static/LON/Lakes.txt
  Sector Boundaries/Static/MPC/PC W.txt
  Sector Boundaries/Static/SCO/Rathlin.txt
  Sector Boundaries/Static/STC/Antrim.txt
  Sector Ownership/AC - North/3.txt
  Sector Ownership/AC - North/4.txt
  Sector Ownership/AC - North/7.txt
  Sector Ownership/Non-UK/Dublin.txt
  Sector Ownership/ScAC - West/Deancross.txt
  Sector Ownership/ScAC - West/Rathlin.txt
  Sector Ownership/TC - MPC/IoM.txt
  Sector Ownership/TC - MPC/S29.txt
  Sector Ownership/TC - STC/Antrim.txt
  Sector Ownership/TC - STC/Galloway.txt
Labels: procedure-change

#5747 Fixes #5746 - Create Mildenhall (EGUN) SMR
  .github/CHANGELOG.md
  Airports/EGUN/Basic.txt
  Airports/EGUN/SMR/Geo.txt
  Airports/EGUN/SMR/Labels.txt
  Airports/EGUN/SMR/Regions.txt
  _data/SMR Files/EGUN/EGUN.kmz
Labels: enhancement

#5743 Fixes #5741 - Remove EGD206
  .github/CHANGELOG.md
  ARTCC/Danger Areas/EGD206.txt
Labels: airac, controller-pack-change
